*{
    margin: 0;
    padding: 0;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));    border-radius: 150px;

    
}

.area1{
    border-radius: 15%;
     background:linear-gradient(rgb(25, 0, 255), rgb(74, 74, 236));
     width: 300px;
     height: 300px;
     color: white;
     
}

.result{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
.score-display{
    background:linear-gradient(rgb(94, 79, 226), rgb(6, 6, 230));
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: 1rem auto;  
    display: flex; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-score{
    font-size: 3rem;
}

.remark, .remark2{
    display: flex;
    justify-content: center;    
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

}

.remark2{
    font-size: 1rem;
    text-align: center;
}

.area2{
    border-radius: 15%;
     width: 300px;
     height: 400px;
     
}
.area2{
}

.summary{
    padding: 1.5rem;
}

.menu{
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: space-between;
}
.sub-menu{
    display: flex;
    padding-bottom: 1.2rem;
    gap: 1rem;
}

.submit{
    display: flex;
    background-color: black;
    color: white;
    width: 12rem;
    height: 2rem;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}